<!DOCTYPE html>
<html>
<head>

</head>
<body>
<h1>Welcome</h1>




<div class="flex-container">
  <% if @recipes!= nil %>
    <% @recipes.each do |recipe| %>
      <%=link_to recipe.name ,recipes_path %>
    <%end%>
  <%end%>
  <div>Test Recipie 1</div>
  <div>Test Recipie 2</div>
  <div>Test Recipie 3</div>
  <div>Test Recipie 4</div>
  <div>Test Recipie 5</div>
  <div>Test Recipie 6</div>
  <div>Recipie 7</div>
  <div>Recipie 8</div>
  <div>Recipie 9</div>
  <div>Recipie 10</div>

</div>


</body>
</html>
